@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 200;
}
/* Позиционирование */

/* Блочная модель */

/* Типографика */

/* Оформление */

/* Анимация */

/* Разное */
