/* Позиционирование */

/* Блочная модель */
* {
  box-sizing: border-box;
}

section {
  margin: 0;
}

/* Типографика */
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("assets/fonts/static/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("assets/fonts/static/Rubik-Italic-VariableFont_wght.ttf");
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2d5f71;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.position {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: 300;
}

/* aside {
  background-color: #c0d1d4; #d5e0e3; #eaf0f1;
*/

/* Оформление */
/* background-color: #2d5f71; */
/* Анимация */

/* Разное */
